.notification {
  width: 254px;
  height: 264px;
	padding: 42px ;
	box-sizing: border-box;
  flex-shrink: 0;
  border-radius: 16px;
  opacity: 0.8999999761581421;
  background: #f5f5f6;

  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;

	span {
		line-height: 24px;
		text-align: center;
	}

  img {
    width: 128px;
    height: 128px;

		svg {
			color: red;
			fill: red;
		}
  }
}

.visible {
  opacity: 1;
  visibility: visible;
  transition: 0.4s;
}
.hidden {
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}
