.wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.openBtn {
}
.inputBlock {
    display: flex;
    gap: 8px;
    align-items: center;
    input {
        border-radius: 5px;
        border: 1.5px solid #e0e0e0;
        padding: 10px 12px;
        width: calc(400px - 30px - 8px);
    }
}
.submit {
    padding: 8px;
    color: #fff;
    background-color: #00538e;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: 30px;
}
.disabled {
    background: #e0e0e0;
    cursor: not-allowed;
    pointer-events: none;
}
