@use "../../../styles/variables" as v;

.offerOverview {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 32px;
  line-height: 40px;
}

.main {
  display: flex;
  gap: 24px;
  justify-content: space-between;

  .leftInputs,
  .rightInputs {
    display: flex;
    flex-direction: column;
    gap: 12px;
    .input,
    select {
      width: 300px;
      height: 42px;
      padding: 14px 10px 14px 16px;
      border-radius: 10px;
      border: 1px solid var(--gray-5, #e0e0e0);
      box-sizing: border-box;
      color: #9b9393;

      &:disabled {
        background-color: #f2f2f2;
        opacity: 1;
      }
    }
  }

  .rightInputs {
    select {
      padding: 12px 10px 14px 16px;
    }

    .timeInput {
      position: relative;
    }
    .hideDisabled {
      input {
        &:disabled {
          background-color: inherit;
        }
      }
    }

    .timePicker {
      display: flex;
      align-items: center;
      gap: 10px;

      input {
        text-align: center;
      }
    }

    .error {
      &::after {
        content: "*";
        position: absolute;
        top: calc(50% - 8px);
        right: 6px;
        font-size: 20px;
        color: red;
      }
    }
  }
}

.customer {
  height: 42px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.buttons {
  margin-top: 8px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

}
.button {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	padding: 16px 32px;
	border-radius: 10px;
	color: #00538d;
	background: transparent;
	border: 2px solid #00538d;
	transition: 0.2s;

	&:hover {
		color: v.$primary-color;
		background: #00538d;
		border: 2px solid transparent;
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;
		border-color: #ccc;
		background: #f0f0f0;
		color: #999;
		pointer-events: none;
	}
}

.archive {
	display: flex;
	justify-content: flex-end;

	button {
		color: #a39f9f;
		border: 2px solid #bdb9b9;

		&:hover {
			background-color: #bdb9b9;
			color: #fff;
		}

		&.restore {
			color: #4fce60;
			border: 2px solid #4fce60;

			&:hover {
				background-color: #4fce60;
				color: #fff;
			}
		}
	}
}

.additionalButtons {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;

  button {
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 10px;
    color: #00538d;
    background: transparent;
    border: 2px solid #00538d;
    transition: 0.2s;

    &:hover {
      color: v.$primary-color;
      background: #00538d;
      border: 2px solid transparent;
    }
  }
}

.addOfferButton {
  align-self: center;
  padding: 13px 26px;
  border-radius: 12px;
  font-size: 16px;
}

.error {
  width: 100%;
  position: relative;
  display: inline-block;

  &::after {
    content: "*";
    position: absolute;
    top: calc(50% - 8px);
    right: 6px;
    font-size: 20px;
    color: red;
  }
}

.select {
  position: relative;
  font-size: 14px;
}

.disabledLable {
  position: absolute;
  top: 14px;
  left: 16px;
  color: #9b9393;
}

.PDF {
  min-width: 500px;
}

.errorMessage {
  color: red;
  font-size: 14px;
}

.hidden {
  display: none;
}

.group {
  position: relative;

  input {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    border: 1px solid var(--gray-5, #e0e0e0);
    outline: none;
    background: #fff;

    width: 360px;
    padding: 13px 16px;
    border-radius: 10px;
    border: 1px solid var(--gray-5, #e0e0e0);
  }

  .span {
    position: absolute;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    position: absolute;
    left: 16px;
    bottom: 10px;
    transition: 0.2s;
    z-index: 2;

    &:first-child {
      z-index: 1;
    }
  }

  input:focus + .span,
  .active {
    bottom: 33px;
    padding: 0 6px;
  }
}

.saleMan {
  display: flex;
  align-items: center;
  gap: 8px;

  .saleManPhoto {
    width: 42px;
    height: 42px;
    box-sizing: border-box;
    border-radius: 48px;
    flex-shrink: 0;
    border: 1.5px solid var(--gray-5, #e0e0e0);

    img {
      width: 100%;
      height: 100%;
      user-select: none;
      border-radius: 48px;
      object-fit: cover;
    }
  }
}
.hiddenBorder {
  border: none;
}

.notification {
  position: absolute;
  bottom: 15%;
  left: calc(50% - 127px);
  visibility: hidden;
}

.addFile {
  min-width: 140px;
  cursor: default;
  flex-shrink: 0;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  gap: 6px;
  padding: 14px 12px;
  box-sizing: border-box;

  border-radius: 8px;
  border: 2px dashed var(--blue, #00538e);
  color: var(--blue, #00538e);

  .plus {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20px;
    height: 20px;
    background: var(--blue, #00538e);
    border-radius: 50px;

    img {
      width: 12px;
      height: 12px;
    }
  }

  input[type="file"] {
    display: none;
  }

  .pdfTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
}

.customerButton {
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 4px;
  border: 2px solid rgb(240, 235, 235);
  background-color: rgb(240, 235, 235);
  transition: 0.2s;

  &:hover {
    background-color: rgb(231, 224, 224);
  }
}

.notification {
  position: absolute;
  bottom: 10%;
  left: calc(50% - 127px);
  visibility: hidden;
	z-index: 10;
}
