.events {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .header {
    display: flex;
    justify-content: space-between;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      background-color: var(--blue, #00538e);
      border-radius: 50px;

      img {
        width: 28px;
        height: 28px;
        flex-shrink: 0;
      }
    }
  }

  .main {
		height: 360px;
		overflow: auto;

    .event {
      display: flex;
      gap: 12px;
      padding: 12px 0px;
      border-bottom: 2px solid var(--gray-6, #f2f2f2);

      img {
        width: 48px;
        height: 48px;
        flex-shrink: 0;
        border-radius: 48px;
				object-fit: cover;
      }

      h4 {
				margin: 0px 0px;
        color: var(--gray-1, #333);
        font-feature-settings: "clig" off, "liga" off;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
      }

      .content {
				display: flex;
				flex-direction: column;
				gap: 8px;

        .description {
          color: var(--gray-1, #333);
          font-feature-settings: "clig" off, "liga" off;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
        }

        .date {
          color: var(--grey, #bdbdbd);
          font-feature-settings: "clig" off, "liga" off;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
        }
      }
    }
  }
}

.notification {
	position: absolute;
	bottom: 20px;
	left: clac(50% - 50%);
	visibility: hidden;
}
