.card {
  display: flex;
  flex-direction: column;
  width: 182px;
}
.title {
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
}
.imageBody {
  padding: 8px 24px;
  border: 2px dashed #00538e;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 9999;
}
.deleteBtn {
  margin-top: 12px;
  align-self: flex-end;
  color: #00538e;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  z-index: 9999;
}
.disabled {
  cursor: not-allowed;
  color: #a8a8a8;
}
