.main {
  display: flex;
  gap: 20px;
  border-radius: 8px;
  border: 1px solid var(--gray-5, #e0e0e0);
  color: var(--gray-1, #333);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
	cursor: default;

  .option {
		display: flex;
		align-items: center;
		position: relative;
    padding: 6px 14px;
    border-radius: 8px;

    &.active {
      background: var(--blue, #00538e);
      color: #fff;
    }

    &:not(:last-child):after {
      content: "";
      position: absolute;
      top: calc(50% - 8px);
      right: -12%;
      width: 1px;
      height: 16px;
      background: var(--gray-5, #e0e0e0);
    }
  }
}
