.courier {
  display: flex;
  gap: 12px;
  padding: 4px;
  border-radius: 8px;

  img {
    width: 52px;
    height: 52px;
    border-radius: 52px;
		object-fit: cover;
  }
  .profile {
    display: flex;
    flex-direction: column;
    padding: 4px 0px;
    gap: 4px;

    .mainInfo {
      display: flex;
      gap: 8px;
    }

    .name {
      color: #333;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
    .isAvailable {
      width: 12px;
      height: 12px;
      border-radius: 50px;
    }
    .role {
      color: var(--grey-80, #bdbdbd);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }
  }
}

.car {
  display: flex;
  flex-direction: column;
  gap: 4px;

  background: #f4f5f6;
  border-radius: 8px;
  padding: 10px;

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;

  .propName {
    color: var(--grey-80, #bdbdbd);
  }
  .propValue {
    color: var(--blue, #00538e);
  }
}

.ghost {
	opacity: 0.7 !important;
}

.externalPopUp {
  width: 100%;

	form {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

  input {
    color: var(--gray-1, #333);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  button {
    width: 100%;
    margin-top: 16px;
    padding: 16px 32px;
    border-radius: 10px;
    background: #00538d;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;

		&:disabled {
			opacity: 0.8;
		}
  }
}

.group {
  position: relative;
	
  .span {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    position: absolute;
    left: 12px;
    bottom: 10px;
    transition: 0.2s;
    background: #fff;

    &:first-child {
      z-index: 1;
    }
  }
	
  input:focus + .span,
  .active {
    bottom: 36px;
  }
}

.error {
  width: 100%;
  position: relative;
  display: inline-block;

  &::after {
    content: "*";
    position: absolute;
    top: calc(50% - 7px);
    right: 3px;
    font-size: 20px;
    color: red;
  }
}