.table {
  min-width: 600px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid var(--gray-5, #e0e0e0);
  height: 61vh;
  overflow-y: auto;
}

.noData {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadMore {
  margin: 12px 0;
  display: flex;
  justify-content: center;

  button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #00538d;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;

    &:hover {
      background-color: #003b5c;
    }
  }
}
