.card {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  .delete {
    opacity: 1;
    z-index: 9999;
  }
  &:hover .delete {
    opacity: 1;
  }
}
.input {
  width: 400px;
  padding: 10px 12px;
  border-radius: 5px;
  border: 1.5px solid #e0e0e0;
  z-index: 9999;
}
