.sendMessage {
	width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .send {
    position: relative;

    input {
			height: 48px;
      width: 100%;
      padding: 10px 16px;
      border-radius: 10px;
      border: 1px solid var(--gray-5, #e0e0e0);
			box-sizing: border-box;
			font-size: 14px;
    }

    button {
      position: absolute;
      top: calc(50% - 12px);
      right: 8px;
      background: none;

      img {
        width: 28px;
        height: 28px;
        color: var(--gray-1, #333);
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 50px;
      }
    }
  }
}

.profile {
	display: flex;
	gap: 12px;

	img {
		width: 48px;
		height: 48px;
		flex-shrink: 0;
		border-radius: 48px;
	}

	.info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.name {
			color: var(--gray-1, #333);
			font-size: 20px;
			font-style: normal;
			font-weight: 400;
			line-height: 24px;
		}
		.role {
			color: var(--grey-80, #bdbdbd);
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 20px;
		}
	}
}
